body{
    margin:0px;
    padding:0px;
    border-spacing:0px;
    overflow:hidden;
    font-family: 'Oxygen',sans-serif;
}
.menu-button{
    display: inline-block;
    width:60px;
    text-align:center;
    vertical-align:middle;
    padding-top:5px;
    height:25px;
    border-spacing:0px;
    border-right:1px #ddd solid;
    background-color:#eee;
    font-size:14px;
}
.menu-button:hover{
    background-color: #ddd;
    cursor: pointer;
}
.context-menu{
    width:200px;
    background-color:#fff;
    border:1px solid #ccc;
    position:absolute;
}
.context-menu-item{
    height:30px;
    padding-left:20px;
    border-top:1px solid #eee;
    border-bottom:none;
}
.context-menu-item:hover{
    background-color:#eee;
    cursor:pointer;
}
.window{
    background-color:#fff;
    position:absolute;
    left:0px;
    top:0px;
    width:75%;
    height:75%;
    border:1px #ccc solid;
}
.window-overlay{
    background-color:#000;
    opacity:.25;
    position:absolute;
    left:0px;
    top:0px;
    width:100%;
    height:100%;
}
.window-titlebar{
    background-color:#eee;
    border-bottom:1px #ddd solid;
    color:#888;
    padding:5px;
}
.window-titlebar-x{
    float:right;
    cursor:pointer;
}
.window-titlebar-x:hover{
    opacity:.5;
}
.window-selection{
    width:100%;
    padding-left:1px;
    overflow:auto;
}
.window-selection-item{
    padding:5px;
    border-bottom:1px #ddd solid;
    margin-left:5px;
    padding-left:20px;
}
.window-selection-item:hover{
    border-left:5px solid #ccc;
    margin-left:0px;
    cursor:pointer;
    background-color:#eee;
}
.window-submit{
    width:200px;
    background-color:#eee;
    border-top:1px solid #ddd;
    text-align:right;
    position:absolute;
    left:0px;
    top:0px;
}
.ui-button{
    width:80px;
    height:25px;
    border:1px #ccc solid;
    text-align:center;
    border-radius:4px;
    margin:5px;
    padding:5px;
    padding-top:8px;
    color:#444;
    background-color:#fff;
    display:inline-block;
}
.ui-button:hover{
    background-color:#ddd;
    cursor:pointer;
}
.ui-input{
    min-height:40px;
    border-bottom:1px solid #ccc;
    margin-left:10px;
    padding-left:10px;
}
.ui-input:hover{
}
.ui-text{
    display:inline-block;
    color:#444;
}
.ui-textfield{
    display:inline-block;
    min-width:150px;
    padding:5px;
    border:1px solid #ccc;
    margin:5px;
    border-radius:4px;
    background-color:#fff;
}
#editor-container{
    border: solid 1px #ddd;
}
#menu-button-container{
    background-color:#eee;
    font-size:0px;
}
#editor-contents{
    background-color:#f4f4f4;
    height:100%;
    border-top:solid 1px #ddd;
}
#properties-container{
    border-left:solid 1px #ddd;
    padding:2px;
    height:100%;
    min-width:250px;
    vertical-align:top;
}
#canvas-container{
    width:75%;
    background-color:#fff;
    display:inline-block;
    height:100%;
    vertical-align:top;
}
